@extension_description
Tryb nocny dla każdej strony internetowej. Zadbaj o swoje oczy, używaj Dark Readera zarówno do nocnego jak i dziennego przeglądania.

@loading_please_wait
Ładowanie, proszę czekać

#==== Top section ====

@on
On

@off
Off

@toggle
Przełącz

@toggle_current_site
Przełącz aktualną stronę

@setup_hotkey_toggle_site
Ustaw aktualną stronę
przełącz klawisz skrótu

@toggle_extension
Przełącz rozszerzenie

@setup_hotkey_toggle_extension
Ustaw rozszerzenie
przełącz klawisz skrótu

@page_protected
Ta strona jest zablokowana
przez przeglądarkę

@page_in_dark_list
Ta strona jest w globalnej
Dark Liście


#==== Filter ====

@filter
Filtr

@mode
Tryb

@dark
Ciemny

@light
Jasny

@brightness
Jasność

@contrast
Kontrast

@grayscale
Skala Szarości

@sepia
Sepia

@only_for
Tylko dla

@only_for_description
Zastosuj ustawienia tylko do aktualnej strony


#==== Site list ====

@site_list
Lista stron

@invert_listed_only
Konwertuj tylko poniższe

@not_invert_listed
Nie konwertuj tylko poniższych

@add_site_to_list
Dodaj stronę do listy

@setup_add_site_hotkey
Ustaw klawisz skrótu dla dodawania stron


#==== More settings ====

@more
Więcej

@select_font
Wybierz czcionkę

@text_stroke
Kontur tekstu

@try_experimental_theme_engines
Wypróbuj **eksperymentalne** tryby:
**Filtr+** zachowuje saturację, korzysta z GPU
**Motyw statyczny** generuje prosty, szybki motyw
**Motyw dynamiczny** analizuje kolory i obrazki

@engine_filter
Filtr

@engine_filter_plus
Filtr+

@engine_static
Statyczny

@engine_dynamic
Dynamiczny

@theme_generation_mode
Tryb generowania motywów

@custom_browser_theme_on
Niestandardowy

@custom_browser_theme_off
Domyślny

@change_browser_theme
Zmień motyw przeglądarki


#==== Footer ====

@privacy
Prywatność

@help
Pomoc

@donate
Wspieraj

@news
Aktualności

@read_more
Więcej

@open_dev_tools
Narzędzia developerskie


#==== Store listing ====

@store_listing
To rozszerzenie dba o Twoje oczy. Udostępnia tryb nocny dla każdej strony, tworząc ciemne motywy w locie. Dark Reader odwraca jasne kolory, dzięki czemu mają wysoki kontrast i są łatwe do odczytania w nocy.

Możesz dostosować jasność, kontrast, filtr sepii, tryb ciemny, ustawienia czcionek i listę ignorowanych.

Dark Reader nie wyświetla reklam i nie wysyła nigdzie danych użytkownika. Jest to rozszerzenie całkowicie open-source https://github.com/darkreader/darkreader

Przed zainstalowaniem wyłącz podobne rozszerzenia. Miłego przeglądania!

